<form action="/bus/busMap" method="post">
    <div class="form-group">
        <label for="title"># Of Seats</label>
        <input type="text" class="form-control" id="noOfSeats" name="noOfSeats">
    </div>
    <div class="form-group">
        <label for="title">Bus name</label>
        <input type="text" class="form-control" id="busname" name="busname">
    </div>
    <button class="btn btn-success" type="submit">SUBMIT</button>
</form>